.jumbotron{
	background-color: teal;
	color: black;
	margin-top: 30px;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 8px;
	margin-top: 10px;

}
.card-taller{
	flex:1 200px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;

}
.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}